.combine_mainWrap {
  position: relative;
  height: 100%;
  background: url('./images/bg_main.png') repeat-x 0 0;
  background-size: 100% 100%;
}
.combine_mainWrap header {
  padding: 25px;
  font-size: 1.25em;
  color: #fff;
  line-height: 110%;
}
.combine_mainWrap header h2 {
  text-decoration: underline;
}
.combine_mainWrap .contentsWrap {
  position: absolute;
  left: 0;
  top: 12%;
  right: 0;
  bottom: 16%;
  background: url('./images/bg_main_house.png') no-repeat left center;
  background-size: 249px auto;
}
.combine_mainWrap .contentsWrap button,
.combine_mainWrap .contentsWrap a > button {
  position: absolute;
  height: 73px;
  padding-left: 70px;
  font-size: 0.9375em;
  color: #fff;
  text-align: left;
  line-height: 120%;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 62px auto;
}
.combine_mainWrap .contentsWrap a > button h3 {
  font-weight: normal;
}
.combine_mainWrap .contentsWrap .btn_detail {
  left: 49px;
  top: 50%;
  width: 106px;
  height: 146px;
  margin-top: -65px;
  padding: 0;
  text-indent: -999em;
  background: url('./images/btn_house.png') no-repeat 0 0;
  background-size: auto 100%;
}
.combine_mainWrap .water {
  left: 50%;
  top: 30%;
  background-image: url('./images/ico_prd_water.png');
}
.combine_mainWrap .bidet {
  left: 50%;
  bottom: 30%;
  background-image: url('./images/ico_prd_bidet.png');
}
.combine_mainWrap .matrix {
  left: 28%;
  bottom: 10%;
  background-image: url('./images/ico_prd_mattress.png');
}
.combine_mainWrap footer {
  position: absolute;
  left: 25px;
  right: 25px;
  bottom: 0;
  border-top: 1px solid #60ced7;
  overflow: hidden;
}
.combine_mainWrap footer button {
  position: relative;
  float: left;
  width: 25%;
  height: 102px;
  text-indent: -999em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50px auto;
}
.combine_mainWrap footer button:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 27px;
  margin-top: -13.5px;
  background: #0fa6b1;
}
.combine_mainWrap footer button:first-child:before {
  display: none;
}
.combine_mainWrap footer button:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 20%;
  width: 4px;
  height: 4px;
  margin: -2px 0 0 -2px;
  background: #289da4;
  border-radius: 2px;
}
.combine_mainWrap footer button.on:after {
  background: #fff;
}
.combine_mainWrap footer .fa.on {
  background-image: url('./images/btn_man_on.png');
}
.combine_mainWrap footer .mom {
  background-image: url('./images/btn_woman_off.png');
}
.combine_mainWrap footer .grandma {
  background-image: url('./images/btn_grandma_off.png');
}
.combine_mainWrap footer .baby {
  background-image: url('./images/btn_baby_off.png');
}

.combine_popWrap {
  position: relative;
  height: 100%;
  padding-bottom: 120px;
  background: #fff;
}
.combine_popWrap header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 48px;
  padding-left: 40px;
  z-index: 100;
}
.combine_popWrap h1 {
  height: 100%;
  font-size: 1.0625em;
  line-height: 48px;
}
.combine_popWrap header .btn_close {
  position: absolute;
  right: 5px;
  top: 0;
  width: 40px;
  height: 100%;
  text-indent: -999em;
  background: url('./images/btn_close.png') no-repeat center center;
  background-size: auto 25px;
}
.combine_popWrap header.hide {
  left: -999em;
  top: -999em;
}
.combine_popWrap .contentsWrap {
  height: 100%;
  overflow: auto;
  padding-top: 48px;
}
.totviewbox {
  position: relative;
  padding: 15px 20px;
  border-top: 1px solid #e1e1e1;
}
.totviewbox:first-child {
  border-top: none;
}
.totviewbox .tit {
  margin-bottom: 30px;
  padding: 0 0 2px 20px;
  font-weight: normal;
  font-size: 0.9375em;
  color: #008fd1;
  letter-spacing: -0.05em;
  border-bottom: 1px solid #e1e1e1;
}
.totviewbox .legends {
  position: absolute;
  right: 20px;
  top: 18px;
}
.legends {
  position: absolute;
  right: 15px;
  top: 2px;
  font-size: 0.5em;
  color: #a2a2a2;
  text-align: left;
}
.legends li {
  display: inline-block;
  padding: 1px 2px;
  color: #a2a2a2 !important;
}
.legends li:before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: 5px;
  vertical-align: middle;
  background: #2baaf2;
  border-radius: 3px;
  margin-bottom: 4px;
}
.legends li.normal:before {
  background: #35d1d3;
}
.legends li.bad:before {
  background: #f6a428;
}
.legends li.verybad:before {
  background: #fa6c40;
}
.homeWrap .tit {
  background: url('./images/ico_house.png') no-repeat left center;
  background-size: auto 25px;
}
.myWrap .tit {
  background: url('./images/ico_man.png') no-repeat left center;
  background-size: auto 25px;
}

.chartbox {
  overflow: hidden;
}
.chartbox > div {
  position: relative;
  float: left;
  width: 50%;
  text-align: center;
}
.chartbox > div > dl {
  font-size: 0.6875em;
  color: #454545;
  text-align: center;
  line-height: 140%;
}
.chartbox > div > dl dd {
  color: #00b9d7;
}
.chartbox .box {
  position: relative;
}
.out {
  position: relative;
  width: 104px;
  height: 104px;
  margin: 0 auto;
  background: rgba(37, 208, 210, 0.9);
  border: 1px solid #119092;
  border-radius: 52px;
}
.out:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url('./images/bg_shadow02.png') no-repeat center center;
  background-size: 100% auto;
}
.in {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 68px;
  height: 68px;
  margin: -34px 0 0 -34px;
  background: #25d0d2;
  border: 1px solid #119092;
  border-radius: 34px;
}
.out dl {
  text-align: center;
}
.out dt {
  height: 18px;
  font-weight: bold;
  font-size: 0.5em;
  color: #fff;
  line-height: 18px;
}
.nowstat span {
  display: none;
}
.nowstat span.normal {
  display: block;
}
.good .nowstat span.normal {
  display: none;
}
.good .nowstat span.good {
  display: block;
}
.bad .nowstat span.normal {
  display: none;
}
.bad .nowstat span.bad {
  display: block;
}
.verybad .nowstat span.normal {
  display: none;
}
.verybad .nowstat span.verybad {
  display: block;
}
.in dl {
  color: #fff;
  text-align: center;
}
.in dt {
  font-weight: bold;
  font-size: 0.5em;
}
.in p {
  line-height: 110%;
}
.in p > span {
  display: inline-block;
  min-width: 1em;
  font-size: 1.0625em;
  text-align: right;
  line-height: 105%;
  vertical-align: top;
}
.in p > sub {
  position: absolute;
  margin: -2px 0 0 1px;
  font-size: 0.4em;
  vertical-align: top;
}

@media screen and (max-width: 320px) {
  .totsatusWrap {
    margin-top: 10px;
  }
  .box .legends {
    right: -5px;
  }
  .legends em {
    margin-right: 3px;
  }
}
.box .good {
  background: #3fbcec;
}
.box .bad {
  background: #ffac20;
}
.box .verybad {
  background: #fd6370;
}
.box .out.good {
  background: rgba(63, 188, 236, 0.9);
}
.box .out.bad {
  background: rgba(255, 172, 32, 0.9);
}
.box .out.verybad {
  background: rgba(253, 99, 112, 0.9);
}

.chartbox .chart dl {
  position: absolute;
  left: 50%;
  top: 40px;
  width: 210px;
  margin-left: -105px;
  text-align: center;
}
.chartbox .chart dd {
  font-size: 2.5em;
  color: #202020;
  line-height: 137%;
  padding-right: 2px;
  margin-top: -21px;
}

.analysis {
  margin-top: 15px;
  text-align: center;
}
.analysis dl,
.analysis dt,
.analysis dd {
  display: inline-block;
}
.analysis dl {
  font-size: 0.8125em;
}
.analysis dt {
  color: #5a5a5a;
}
.analysis dd {
  color: #25d0d2;
}
.analysis dl:first-child {
  display: block;
  font-size: 1.25em;
}
.analysis dl:first-child dt {
  color: #4e4e4e;
}
.analysis dl:last-child:before {
  content: '|';
  margin: 0 10px 0 10px;
  color: #acacac;
}
.good {
  color: #3fbcec;
}
.normal {
  color: #25d0d2;
}
.bad {
  color: #ffac20;
}
.verybad {
  color: #fd6370;
}

.actionguide {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 120px;
  padding: 0 20px 0 115px;
  color: #fff;
  background: #00b9d7;
}
.actionguide .icon {
  position: absolute;
  left: 34px;
  top: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  padding-top: 47px;
  font-size: 0.625em;
  text-align: center;
  background: url('./images/ico_guide_sleep.png') no-repeat center top;
  background-size: 40px auto;
  border: 1px solid #33c7df;
  border-radius: 35px;
}
.actionguide .icon.water {
  background-image: url('./images/ico_guide_water.png');
}
.actionguide dl {
  width: 100%;
}
.actionguide dt {
  display: inline-block;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 0.75em;
  color: #00aac5;
  background: #fff;
  border-radius: 1em;
}
.actionguide dd {
  margin-top: 5px;
  padding-left: 2px;
  font-size: 0.8125em;
  line-height: 120%;
}
