@charset "UTF-8";

/***************************************************************************************************
	Reset
***************************************************************************************************/

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100%;
  font: normal 16px/130% arita, 'Samsung Gothic', 'Malgun Gothic', '맑은 고딕',
    dotum, '돋움', sans-serif;
  color: #040404;
  -webkit-text-size-adjust: none;
}
img {
  border: none;
}
p,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
em,
figure {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'arita';
  font-size: 1em;
}
li {
  list-style: none;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
legend {
  position: absolute;
  left: -1000px;
  top: -1000px;
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}
a {
  margin: 0;
  color: #040404;
  text-decoration: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1em;
}
table caption {
  display: none;
  position: absolute;
  left: -999px;
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  overflow: hidden;
}
table td,
table th {
  padding: 0;
}
button {
  margin: 0;
  padding: 0;
  font: normal 1em arita, 'Samsung Gothic', 'Malgun Gothic', '맑은 고딕', dotum,
    '돋움', sans-serif;
  color: #040404;
  vertical-align: middle;
  background: 0;
  border: none;
  overflow: visible;
  cursor: pointer;
}
button:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
}
input[type='text'],
input[type='password'],
input[type='number'],
input[type='rang'],
input[type='email'],
input[type='url'],
input[type='date'],
input[type='datetime'],
input[type='month'],
input[type='tel'],
input[type='search'],
input[type='color'] {
  display: inline-block;
  height: 40px;
  margin: 0;
  padding: 0 10px 0 15px;
  font: normal 1em arita, 'Samsung Gothic', 'Malgun Gothic', '맑은 고딕', dotum,
    '돋움', sans-serif;
  color: #000;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #dadada;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-appearance: none;
}
input[type='checkbox'],
input[type='radio'] {
  margin: 0;
  vertical-align: middle;
  font-size: 1em;
  border: none;
  -webkit-appearance: none;
}
input[type='radio'] + label,
input[type='checkbox'] + label {
  margin-right: 0.6em;
  vertical-align: middle;
}
label:last-child {
  margin-right: 0 !important;
}
input[type='file'] {
  border: 1px solid #c9caca;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type='number'] {
  text-align: right;
}
input[type='number'].normal {
  text-align: left;
}
input[type='text']:only-child,
input[type='password']:only-child,
input[type='search']:only-child,
input[type='number']:only-child,
input[type='email']:only-child,
input[type='tel']:only-child {
  max-width: 100%;
  width: 100%;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #040404;
}
input:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
}
input[readonly='readonly'] {
  color: #3e3a39;
  text-overflow: ellipsis;
  background-color: #f3f3f3;
  white-space: nowrap;
  overflow: hidden;
}
select.st02 {
  border-color: #929292;
}
select:only-child {
  display: block;
  width: 100%;
}
select.s {
  height: 25px;
  font-size: 0.75em;
}
label,
label input + span {
  vertical-align: middle;
}
textarea {
  width: 100%;
  padding: 5px 8px;
  font: normal 1em/150% arita, 'Samsung Gothic', 'Malgun Gothic', '맑은 고딕',
    dotum, '돋움', sans-serif;
  color: #040404;
  border: 1px solid #dadada;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
textarea:only-child {
  vertical-align: top;
}
hr {
  margin: 0.5em 0.3em 1em;
  background: none;
  border: none;
  border-bottom: 2px dashed #ccc;
}
article,
aside,
footer,
header,
hgroup,
nav,
section,
figure {
  display: block;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
div {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
em,
address {
  font-style: normal;
}
sub {
  font-weight: normal;
  vertical-align: middle;
}
img {
  max-width: 100%;
  max-height: 100%;
}
pre {
  margin: 0;
  padding: 0;
  font: normal 1em arita, 'Samsung Gothic', 'Malgun Gothic', '맑은 고딕', dotum,
    '돋움', sans-serif;
  color: #040404;
  line-height: 130%;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/******** common class ********/
body > div {
  height: 100%;
}
.f {
  width: 100%;
}
.mid {
  vertical-align: middle;
}
.vtop {
  vertical-align: top;
}
.l_btn {
  margin-top: 15px;
}
.r_btn {
  padding: 5px 0;
  text-align: right;
  line-height: 36px;
  background: #e6e6e6;
}
.c_btn {
  margin: 20px 0;
  padding: 0 30px;
  text-align: center;
  overflow: hidden;
}
.c_btn:first-child {
  margin-top: 0;
}
.c_btn button:only-child {
  width: 100%;
}
.item2 button {
  width: 48%;
}
.alignr {
  text-align: right !important;
}
.cen {
  text-align: center !important;
}
.hide {
  position: absolute !important;
  left: -10000px;
  top: -10000px;
  visibility: hidden;
}
.hide2 {
  display: none !important;
}
.clear:after {
  display: block;
  clear: both;
  content: ' ';
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  visibility: hidden;
}
.layer_back {
  position: absolute;
  left: 0;
  top: -200px;
  bottom: 0;
  width: 100%;
  background: #000;
  opacity: 0.6;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.formWrap {
  display: inline-block;
  margin: 2px 5px 2px 0;
  white-space: nowrap;
}
.formWrap:last-child {
  margin-right: 0;
}
.rbtnWrap {
  position: relative;
  padding-right: 36px;
}
.rcen_btn {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -16px;
}
/******************************/
